@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body::-webkit-scrollbar {
    width: 0.8rem;
    height: 1rem;
  }

  body::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  body::-webkit-scrollbar-thumb {
    background: #696FDD;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: linearGradient;
  }
}

@layer components {
  .btnGradient {
    @apply w-full
        bg-gradient-to-r
      from-linearGradient-from
      to-linearGradient-to
      text-white
        p-3
        rounded-md
        tracking-widest
        border-1
        border-linearGradient-to/0
        transition 
        ease-in-out
        duration-500
      hover:text-linearGradient-to
        hover:bg-none
      hover:border-linearGradient-to;
  }
  .btnWhite {
    @apply w-full 
      bg-white 
      text-linearGradient-to 
        p-3
        rounded-md 
        tracking-widest
        border-1
        border-white/0
        transition 
        ease-in-out
        duration-500
      hover:text-white
        hover:bg-transparent
      hover:border-white;
  }
}
